.user-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.user-details {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.buttons {
  display: flex;
  gap: 10px;
}
